@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #F8721F;
  --color-primary-content: #FFFFFF;
  --color-secondary: #403f3f;
  --color-secondary-content: #FFFFFF;
  --color-base-200: #F6F2ED;
  --color-base-300: #1F1F1F;
  --color-accent: #6C6D71;
}

*{
  font-family: "Roboto", sans-serif;
}